@using WebUI.Models
@model LoginViewModel
@{
    ViewBag.Title = WebUI.Resources.dil.GirisYap;
}

<div class="row" style="padding-top: 10px">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h4>@WebUI.Resources.dil.GirisYap</h4>
            </div>
            <div class="panel-body">


                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        <strong>Giriş için yerel bir kullanıcı kullanın.</strong>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Giriş Yap" class="btn btn-default btn-custom btn-sm" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Yeni bir kullanıcı olarak kayıt olun.", "Register")
                        </p>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                    }
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h4>@WebUI.Resources.dil.SosyalAg</h4>
        </div>
        <div class="panel-body">
            <section id="socialLoginForm">
                @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                <input type="image" src="~/image/social/facebook.png" alt="Submit" width="48" height="48">
                <input type="image" src="~/image/social/twitter.png" alt="Submit" width="48" height="48">
                <input type="image" src="~/image/social/googleplus.png" alt="Submit" width="48" height="48">
                </section>
            </div>
        </div>
        </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
